<p>Video id : {{video1.id}}</p>
<p>Video Title : {{video1.title}}</p>
<p>Video description : {{video1.description}}</p>
<p>Url : {{video1.videoUrl}}</p>
<p>Url var:{{url}}</p>
<video
        id="video"
        class="video-js vjs-default-skin vjs-big-play-centered"
        controls
        autoplay
        preload="none"
        width="700"
        height="500"
        data-setup='{"techOrder": ["flash", "html5"],
      "nativeControlsForTouch": true, "controlBar": { "muteToggle": true,
      "volumeControl": true, "timeDivider": false, "durationDisplay": false, "progressControl": true } }'

>
  <source [src]="url" type="rtmp/mp4">
      <!-- <source src={{video.videoUrl}} type="rtmp/mp4"> -->

        <!-- <source  src="rtmp://localhost:1935/vod/mp4:Tom.mp4" type="rtmp/mp4"> -->
</video> <!-- #sourceVal -->
<!--{{sourceVal.src}} -->
<script>
  var player=videojs('video');
  player.play();
</script>

